node_modules
dist
coverage
.git
.gitignore
.env
.env.local
*.log
tests
jest.config.js
tsconfig.eslint.json
.eslintrc.json
.prettierrc.json
Plan.md
README.md
APIDoc.md
postman_collection.json
scripts
*.svg
